:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-outline-primary.non-interactive {
  border-color: #007bff; /* This is the default color for outline-primary */
  color: #007bff;
  background-color: transparent;
  pointer-events: none;
  cursor: default;
}

.custom-outline-primary.non-interactive:hover,
.custom-outline-primary.non-interactive:disabled {
  border-color: #007bff; /* Keeps the border color on hover and when disabled */
  color: #007bff; /* Keeps the text color on hover and when disabled */
  background-color: transparent; /* Ensures the background doesn't change on hover */
  opacity: 1 !important; /* Ensures the button isn't translucent */
  box-shadow: none; /* Removes any shadow effect on hover */
  cursor: default;
}
